{erl_opts, [
    debug_info,
    {parse_transform, lager_transform}
]}.

{deps, [
  {cowboy, "1.0.4"},
  {lager, "3.0.2"},
  {lager_syslog, {git, "https://github.com/basho/lager_syslog.git"}},
  {jsx,  {git, "https://github.com/talentdeficit/jsx.git"}},
  {base16, {git, "https://github.com/goj/base16.git"}}
]}.

{overrides,
 [{override, syslog, [
     {plugins, [
       {pc, {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}
     ]},

     {provider_hooks, [
         {post,
             [
             {compile, {pc, compile}},
             {clean, {pc, clean}}
             ]
          }]
      }
  ]}
]}.

{relx, [{release, {'elsa', "0.1.0"},
         ['elsa',
          cowboy,
          lager,
          lager_syslog,
          jsx,
          base16,
          sasl
          ]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{dev, [{relx, [{dev_mode, true},
                            {include_erts, false}]}]
            }]
}.
